<form action="{{ action }}" method="post" class="form-horizontal">
  <div class="form-group required">
    <label class="col-sm-2 control-label" for="pay_cpf">{{ entry_pay_cpf }}</label>
    <div class="col-sm-3">
      <input type="text" name="pay_cpf" value="" maxlength="14" placeholder="{{ entry_pay_cpf }}" id="pay_cpf" class="form-control" autocomplete="off" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')"  />
      <span class='state1'></span>
    </div>
  </div>

  <div class="buttons">
    <div class="pull-right">
      <input type="button" value="{{ button_confirm }}" class="btn btn-primary submit" />
    </div>
  </div>
</form>
<script type="text/javascript">
  $(function(){
    var ok1=false;

    $('#pay_cpf').focus(function(){
      $(this).next().text('').removeClass('state1').addClass('state2');
    }).blur(function(){
      if($(this).val().length >= 11 && $(this).val().length <= 14){
        ok=true;
      }else{
        $(this).next().html('<span style="color:red">CPF must be between 11 and 14 characters!</span>').removeClass('state1').addClass('state3');
      }
    });

    $('.submit').click(function(){
      if(ok){
        $('form').submit();
      }else{
        return false;
      }
    });
  })
</script>